
.inkc_overflow-button-and-menu {
    position: relative;

    .inkc_dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        width: 10em;

        background-color: var(--interactive-normal);
        color: var(--color-base-60);
        fill: var(--color-base-60);
        box-shadow: var(--input-shadow);
        border-radius: 10px;
        
        display: none;
        &.inkc_visible {
            display: block;
        }

        li {
            padding: 0.5em;
        }
    }
}

